html {
    font-size: 18px; /*dimensiunea de baza*/
    transition: font-size 0.5s ease-in-out;
}

::selection {
    background-color: var(--primary, #8F5546); 
    color: white; 
    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body {
    --culoare-brand: #DA532C;
    --culoare-text: #2C3E50;
    --culoare-fundal: #ECF0F1;
    --culoare-contur: #8F5546;
    --culoare-detalii: #3495AE;
    --culoare-inchisa: #090909;
    --culoare-zona1: #f8f3f3;  
    --culoare-zona8: #e3c0b1; 
    --culoare-tab-even: rgba(143, 85, 70, 0.1); 
    --culoare-tab-odd: rgba(52, 149, 174, 0.1); 
    --culoare-text-footer: #000080;
    --bordura-footer: rgba(255, 255, 255, 0.2);

    --culoare-vizitat: #8e44ad;
    --c1: rgba(52, 152, 219, 0.4);
    --c2: #fd7049; 
    --culoare-simbol: #e67e22;
    
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    --margine-pagina: 120px;
    --gap-grid: 20px;
    --padding-sectiune: 25px;

    font-size: 1rem; 
    line-height: 1.5;
    overflow-x: hidden; /*prevenirea scroll-ului orizontal*/
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

p{
    border:none;
    margin-bottom: 1px;
}

/* Redefinim dimensiunile titlurilor in unitati relative */

h1 {
    font-size: 2.5rem; /*45 px*/
    color: var(--culoare-brand); 
}

h2 {
    font-size: 2rem; /*36px*/
    color: var(--culoare-text);
}

h3 {
    font-size: 1.5rem; /*27px*/
}

img, iframe, video {
    display: block;
    width: 100%;      
    max-width: 100%;   
    min-width: 200px; 
    height: auto;     
    border-radius: 8px;
}

#banner{
    width: 100%;
    position: relative; 
}
.banner-text {
    position: absolute;
    top: 50%;       
    left: 50%; 
    transform: translate(-50%, -50%); /*pentru a putea fi exact in centru*/
    
    text-align: center;
    width: 100%;    
    z-index: 5; 
    animation: animatie-titlu 1.5s ease-out forwards;
}

#inceput-pagina {
    font-family: 'Fantasy', cursive;
    font-size: 4.5rem;
    color: var(--culoare-text); 
    text-shadow: 3px 3px 10px var(--culoare-contur);
    margin: 0;
    
}

main{
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
}

footer{
    padding: var(--padding-sectiune);
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    color: var(--culoare-fundal);
    background-color: var(--culoare-contur);
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--culoare-contur);
}

#grid-pagina > * {
    border:2px solid var(--culoare-contur);
    box-shadow: 0 0 5px var(--culoare-contur);
    border-radius: 12px;
    padding: var(--padding-sectiune);
    background-color: var(--culoare-fundal);
}

#grid-pagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: var(--gap-grid);

    grid-template-areas:
        "zona1 zona1 zona1 zona1 zona1"
        "zona2 zona2 zona2 zona8 zona8"
        "zona5 zona6 zona6 zona8 zona8 "
        "zona4 zona4 zona3 zona3 zona7 ";
}
   

#despre-noi{
    grid-area: zona1;
    background-color: var(--culoare-zona1);
}
#statistici-vanzari{
    grid-area: zona2;
}
#evenimente{
    grid-area: zona3;
}
#noutati{
    grid-area: zona4;
}
#sectiuni-interactive{
    grid-area: zona5;
}
#profil{
    grid-area: zona6;
}
#localizare{
    grid-area: zona7;
}
#promotii{
    grid-area: zona8;
    background-color: var(--culoare-zona8);
    border-style: dashed;
    

}
 
/* ETAPA 6 BONUS 12 */
@keyframes pulseaza {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); background-color: #dc3545; }
    100% { transform: scale(1); }
}

.animate-pulse {
    animation: pulseaza 0.5s infinite alternate;
    border-color: #ff0000 !important;
}

figure{
    margin: 0;
}

figure.fg-img > img{
    width:100%;
}


.container-tabel{
    overflow-x: auto; /* Scrollbar orizontal pe ecrane mici */
    border-radius: 15px; 
    border: 2px solid var(--culoare-contur); 
    margin: 20px 0;
    /* overflow: hidden; */
}
#tab-vanzari{
    border-collapse: collapse;
    width: 100%;
    /* min-width:600px; */
    background-color: var(--culoare-fundal);
}

#tab-vanzari caption {
    caption-side: bottom;
    padding: 10px;
    font-style: italic;
    color: var(--culoare-text); 
}

#tab-vanzari td, #tab-vanzari th{
    border: 1px solid var(--culoare-contur);
    padding: 10px;
    text-align: center;
}

#tab-vanzari td:nth-child(even), #tab-vanzari th:nth-child(even){
    background-color: var(--culoare-tab-even); 
}

#tab-vanzari td:nth-child(odd), #tab-vanzari th:nth-child(odd){
    background-color: var(--culoare-tab-odd) ;
}
#tab-vanzari tbody tr:nth-child(2) td:nth-child(3){ 
    background-color: var(--culoare-tab-even);
} 
#tab-vanzari tbody tr:nth-child(2) td:nth-child(4){ 
    background-color: var(--culoare-tab-odd);
} 

#tab-vanzari tbody tr {
    transition: background-color 0.5s ease; 
}
#tab-vanzari tbody tr:hover {
    background-color:var(--culoare-zona8) !important; 
}

#tab-vanzari tbody tr td:hover {
    background-color: var(--culoare-detalii) !important; 
    color: var(--culoare-fundal);
    cursor: pointer;
}


.container-iframe {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 20px 0;
}

.container-iframe iframe {
    width: 100%;
    border: 2px solid var(--culoare-contur);
    border-bottom: none;
    background-color: var(--culoare-fundal);
}

.taburi-iframe {
    display: flex;
    justify-content: flex-end; 
    gap: 6px;
    border: none !important;
}

.taburi-iframe > a {
    padding: 10px 15px;
    background-color: var(--culoare-fundal);
    border: 2px solid var(--culoare-contur);
    text-decoration: none;
    color: var(--culoare-text);
    font-weight: bold;
    font-size: 0.6rem;
    /* padding: 5px 12px; */
    
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: none; 
    
    transition: all 0.3s ease;
}

.taburi-iframe > a:hover {
    background-color: var(--culoare-detalii);
    color: var(--culoare-fundal);
    transform: translateY(2px); 
}


/*      PAGINA PRODUSE - ETAPA 6 */
.info-prod{
    display:flex;
    align-items:flex-start;
    gap:15px;
    margin-top:15px;
}

.coloana-1{
    flex:1;
}

.coloana-2{
    flex:1;
    min-width:0;
}

.coloana-1 img{
    width:180px;
    display:block;
}

.descriere-scurta {
    font-weight: normal !important;
    text-align: left !important;
    line-height: 1.5; 
    margin-top: 10px;
    color: var(--culoare-text);
    font-size: 0.9rem;
}


.nume-caracteristica {
    font-weight: bold;
    background-color: #e0dede; 
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
}



.input-invalid {
    border: 2px solid red !important;
    background-color: #ffcccc !important;
}

.info-caracteristici {
    list-style-type: none; /*eliminam bulinele implicite*/
    padding: 0;
}

.info-caracteristici li {
    margin-bottom: 5px;
}

#infoSuma {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #333;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    z-index: 9999;
}


/* ETAPA 7 */
/* starea initiala a fiecarui card de produs inainte de animatia din js */
.grid-produse .produs.card {
    opacity: 0;
    transform: translateY(15px); 
    transition: opacity 0.4s ease, transform 0.4s ease, box-shadow 0.3s ease;
}

.grid-produse .produs.card:hover {
    transform: translateY(-5px) scale(1.02); /* efect de de ridicare si zoom */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; 
    border-color: var(--bs-primary); 
}

/* asigura corectitudinea imaginilor in interiorul cardului */
.grid-produse .produs.card .card-img-top {
    transition: transform 0.3s ease;
}

/* BANNER COOKIE */
#banner_cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    
    width: 25vw;    /* 25% */
    height: 25vw;
    
    font-size: 1.1vw;
    
    color: #ffffff;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform-origin: left bottom;
    
    animation: animatie-banner 5s ease-out forwards;
}

/* Stil pentru butonul din interiorul bannerului */
#banner_cookie button {
    display: block;
    margin-top: 10px;
    font-size: inherit; /* ia de la parinte*/
}

@keyframes animatie-banner {
    0% {
        opacity: 0;
        transform: scale(0);
        background-color: #8b4513; 
    }
    50% {
        background-color: #cd853f; 
    }
    100% {
        opacity: 0.75;
        transform: scale(1);
        background-color: #a0522d; 
    }
}



#link-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    
    display: flex; 
    align-items: center;
    justify-content: center;
    
    border-left: 5px solid var(--culoare-detalii);
    border-right: 5px solid var(--culoare-detalii);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%; 
    
    opacity: 0.5; 
    transition: all 0.5s ease; 
    z-index: 100;
    text-decoration: none;
}

#triunghi {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid var(--culoare-contur);
    
    transition: transform 0.5s ease, border-bottom-color 0.5s ease;
}

#link-top:hover {
    opacity: 1; 
    background-color: var(--culoare-tab-odd);
}

#link-top:hover #triunghi {
    transform: translateY(-8px);
    border-bottom-color: var(--culoare-brand);
}


/* --- Stilizare MathML --- */

.math-catan {
    font-size: 1.4rem;
    padding: 1.2rem;
    background-color: var(--culoare-zona1);
    border-radius: 10px;
    box-shadow:  0 0 5px var(--culoare-inchisa);
}

.m-func {
    color: var(--culoare-text-footer);
    font-weight: bold;
    font-family: serif;
}

.m-var {
    color: var(--culoare-brand);
    font-style: italic;
}

.m-num {
    color: var(--culoare-text);
    font-size: 1.1em;
}

.m-accent {
    color: var(--culoare-brand);
    font-weight: 800;
}


.m-op {
    color: var(--culoare-contur);
    padding: 0 2px;
}

/* Etapa 5 - CSS */
.ticker-container {
    width: 100%; 
    background-color: var(--primary, #5d4037); 
    color: white;
    padding: 10px 0;
    
    /* responsive */
    overflow: hidden; /* taie tot ce iese in afara*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/*textul care se misca */
.ticker-text {
    display: inline-block;
    padding-left: 100%;
    
    animation: plimbare-orizontala 10s linear infinite; 
    font-weight: bold;
}

.ticker-container:hover .ticker-text {
    animation-play-state: paused;
}

@keyframes plimbare-orizontala {
    0% {
        transform: translate(0, 0); 
    }
    100% {
        transform: translate(-100%, 0); 
    }
}



/*  ETAPA 6 - DARK*/

html[data-tema="dark"] body {
    --culoare-brand: #e8845a;
    --culoare-text: #f5e6d3;
    --culoare-fundal: #1c1008;
    --culoare-contur: #8F5546;
    --culoare-detalii: #c49a6c;
    --culoare-inchisa: #f5e6d3;
    --culoare-zona1: #2a1a0e;
    --culoare-zona8: #3d2010;
    --culoare-tab-even: rgba(143, 85, 70, 0.25);
    --culoare-tab-odd: rgba(196, 154, 108, 0.25);
    --culoare-text-footer: #e8c9a0;
    --c1: rgba(232, 132, 90, 0.3);
    --c2: #c49a6c;

    background-color: var(--culoare-fundal);
    color: var(--culoare-text) ;
}

html[data-tema="dark"] .bg-light,
html[data-tema="dark"] .bg-white,
html[data-tema="dark"] section#filtre,
html[data-tema="dark"] main,
html[data-tema="dark"] .produs {
    background-color: #2a1a0e ;
    color: var(--culoare-text);
    border-color: var(--culoare-contur) ;
}

html[data-tema="dark"] label,
html[data-tema="dark"] p,
html[data-tema="dark"] h1,
html[data-tema="dark"] h2,
html[data-tema="dark"] h3,
html[data-tema="dark"] h4,
html[data-tema="dark"] span {
    color: var(--culoare-text) ;
}

html[data-tema="dark"] .form-control,
html[data-tema="dark"] .form-select,
html[data-tema="dark"] input,
html[data-tema="dark"] select,
html[data-tema="dark"] textarea {
    background-color: #3d2010 ;
    color: var(--culoare-text) ;
    border-color: var(--culoare-contur) ;
}

html[data-tema="dark"] .nume-caracteristica {
    background-color: #3d2010;
    color: var(--culoare-text);
}

html[data-tema="dark"] footer {
    background-color: #3d2010;
}

/*     ETAPA 4 - STILIZARE LINK  */

a:visited {
    color: var(--culoare-vizitat);
}

a[href^="http"] {
    position: relative;
    padding-left: 1.8em; /* spatiu pt sageata */
}

a[href^="http"]::before {
    content: "⮳";
    position: absolute;
    left: 0;
    font-size: 1.5em;  /* cu 50% mai mare */
    transition: color 0.3s ease;
}
/* Schimbarea culorii simbolului la hover */
a[href^="http"]:hover::before {
    color: var(--culoare-brand); 
}

/* Gradient */
main a {
    position: relative;
    text-decoration: none;
    color: inherit;

    background-image: radial-gradient(
        ellipse, 
        var(--c1) 0%, 
        var(--c1) 40%,       
        transparent 80%,  
        transparent 100% 
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0% 0%; 
    transition: background-size 2.5s ease-in-out;
    padding: 2px 6px;
}

/* pata creste la hover */
main a:hover {
    background-size: 100% 100%;
}
/* border temporar la click */
a:active {
    outline: 2px solid var(--c1); 
    border-radius: 0px;
    outline-offset: 2px; /* spatiu intre text si border */
}


#meniu-principal ul li ul li a {
    text-transform: capitalize;
}

/*          ETAPA 5         */
#galerie-statica {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 coloane pe ecran mare */
    grid-gap: 20px;
    padding: 20px;
    counter-reset: index-galerie; /* contorul pentru litere */
}


/* coloanele libere */
#galerie-statica figure:nth-child(5) { grid-column: 1; }
#galerie-statica figure:nth-child(6) { grid-column: 4; } /* Sare peste coloanele 2 si 3 */

/* Indexarea cu litere mici  */
#galerie-statica figcaption::before {
    counter-increment: index-galerie;
    content: counter(index-galerie, lower-alpha) ") ";
    font-weight: bold;
}

/* Imaginile din galerie */
#galerie-statica img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--culoare-contur);
}

/* tranzitia */
#galerie-statica figure {
    transition: all 1.25s ease-in-out;
    transform-origin: bottom center; /*granita de jos ramane fixa la marire */
    margin: 0;
    padding: 10px;
    background: var(--culoare-fundal);
}

#galerie-statica figure:nth-child(even) {
    background-color: var(--culoare-zona8);
}

#galerie-statica figure:hover {
    transform: scale(1.3); /* se muta sus si creste cu 30% */
    z-index: 10;
}

#galerie-statica figure:hover figcaption {
    background-color: var(--culoare-primara); /*schimba culorile la hover */
    color: var(--culoare-detalii);
    font-family: 'Times New Roman', Times, serif;
}

#galerie-statica figure:nth-child(even):hover figcaption {
    color: var(--culoare-brand);
}


#imagine-duotone {
    position: relative;
    background-image: url("/resurse/imagini/question.jpg");
    background-size: cover;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}

/* pseudo-elemente */
#imagine-duotone::before,
#imagine-duotone::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 2s ease;
}

/* culoare 1 */
#imagine-duotone::before {
    background-color: var(--c1);
    mix-blend-mode: darken;
    transform: translateX(-100%); /* pleaca din stanga */
}

/* culoare 2 */
#imagine-duotone::after {
    background-color: var(--c2);
    mix-blend-mode: lighten;
    transform: translateX(100%); /* pleaca din dreapta */
}

/* hover */
#imagine-duotone:hover::before {
    transform: translateX(0);
}

#imagine-duotone:hover::after {
    transform: translateX(0);
}


/* REFLEXIE TEXT */

#text-reflectat {
    display: none;
    font-size:30px;
    line-height:30px;
    font-weight: bold;
}
#text {
    position: relative;
    font-size:30px;
    line-height: 30px;
    font-weight: bold;
    
}
@media screen and (min-width: 1000px) {
    #text-reflectat{
        display: block;
        position:absolute;
        left:0;
        top:100%;
        transform-origin:0 0;
        /*conteaza ordinea transformarilor!*/
        transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-25px); 
        opacity:0.55;

        filter: blur(1px); 
        transition: all 1.25s ease;
    }
    #text{	
	position:relative;
    }

    #text, #text-reflectat{
        font-size:50px;
        line-height:50px;
        font-weight: bold;
    }

    #text:hover #text-reflectat {
        transform: rotateX(180deg) skew(-45deg) scaleY(0.9) translate(10px,-35px);
        filter: blur(2px);
}
}



/* Stilul pentru cele 2 coloane */
#promotii .continut-promotii {
    /* Implicit pe ecran mic si mediu */
    column-count: 1;
    text-align: justify;
    gap: 30px; 
}

@media screen and (min-width: 1000px) {
    #promotii .continut-promotii {
        column-count: 2; 
        
        /* linie despartitoare */
        column-rule: 2px solid var(--culoare-contur); 
        column-gap: 40px; 
    }
}



footer p {
    border: none;
    margin: 0;
}
footer small {
    display: block;
    margin-top: 10px;
    border-top: 1px solid var(--bordura-footer);
    padding-top: 15px;
}

footer a {
    color: var(--culoare-text-footer);
    text-decoration: underline;
    font-weight: bold;
}



@keyframes animatie-titlu {
    0% {
        opacity: 0;
        transform: translate(-50%, -150%); 
    }
    50% {
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%); 
    }
}


@media screen and (max-width:1200px) {

    html {
        font-size: 17px;
    }

    body{
        --margine-pagina:60px;
        --gap-grid: 15px;
        font-size: 1rem;
    }
    #inceput-pagina {
        font-size: 3.5rem;
    }

    #grid-pagina{
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "zona1 zona1"
            "zona2 zona2"
            "zona8 zona8"
            "zona5 zona6"
            "zona4 zona3"
            "zona7 zona7";
    }

    #galerie-statica {
        grid-template-columns: repeat(2, 1fr); 
    }
    /* anularea pozitionarii speciale pe ecrane mici */
    #galerie-statica figure { grid-column: auto !important; }

    #banner_cookie {
        width: 100%;
        height: auto;
        position: static; /* nu mai e fixat in colt */
        font-size: 14px;
        color: #fff;
        background-color: #a0522d !important;
        opacity: 0.9 !important;
        transform: none !important;
        animation: none !important; /* opreste animatia*/
    }
}




@media screen and (max-width:700px) {

    html {
        font-size: 16px;
    }

    body{
        --margine-pagina:20px;
        --gap-grid: 10px;
        font-size: 1rem;
    }

    #inceput-pagina {
        font-size: 2.5rem;
    }

    #grid-pagina{
        display: block;
    }
    #grid-pagina > *{
        margin-bottom: 20px;
    }
    * {
        animation: none !important;
    }
    .banner-text {
        animation: none !important;
    }

    #galerie-statica {
        grid-template-columns: 1fr; 
    }
}

